<form id="login" class="form">
  <div class="loginBody">
    <div class="loginHead">Login</div>
    <div class="form-entry">
      <label for="username">Username: </label>
      <input required type="text" id="username" placeholder="username" />
    </div>
    <div class="form-entry">
      <label for="password">Password: </label>
      <input required type="password" id="password" placeholder="password" />
    </div>
    <div>
    <button type="button" id="submitButton">Submit</button>
    <button type="button" id="signup">sign up</button>
    <link href="">Forgot Password</link>
  </div>
  </div>
</form>
