<form id="login" class="form">
  <div class="loginBody">
    <div class="loginHead">Login</div>
    <div class="form-entry">
      <label for="username">Username: </label>
      <input required type="text" id="username" class="input"  placeholder="username" />
    </div>
    <div class="form-entry">
      <label for="password">Password: </label>
      <input required type="password" id="password" class="input" placeholder="password" />
    </div>
    <button type="button" id="submit">Submit</button>
    <button type="button" id="signupButton">Don't have an account? Sign up</button>
  <a href="">Forgot Password?</a>
</form>
