<form id="signup" class="form">
    <div class="loginBody">
      <div class="loginHead">SignUp</div>
      <div class="form-entry">
        <label for="username">Username: </label>
        <input required type="text" id="username" placeholder="username" />
      </div>
      <div class="form-entry">
        <label for="password">Password: </label>
        <input required type="password" id="password" placeholder="password" />
      </div>
      <button type="button" id="submit">Submit</button>
      <button type="button" id="loginButton">login</button>
    </div>
  </form>
  