.title{
    /* justify-content: center; */
    align-items: center;
    font-size: 62px;
    font-weight: bold;
}
#logo{
    padding: 2px;
    width: 100px;
}
.Homelink{
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding-left: 20px;
}
#titleRow{
    display: flex;
    justify-content: space-between;
    background-color:azure;
}
#profileButton{
    align-items: center;
    margin: 30px; 
}
#sectionHeader{
    font-family: 'bradely hand', cursive;
    font-size: 32px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 20px;
}


.card-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 25px;
  }
  
.card-container::-webkit-scrollbar {
    display: none;
}

