body {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  body.dark-mode {
    background-color: #333333;
    color: white;
  }  

.title{
    /* justify-content: center; */
    align-items: center;
    font-size: 62px;
    font-weight: bold;
}
#logo{
    padding: 2px;
    width: 100px;
}
.Homelink{
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding-left: 20px;
}
#titleRow{
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
}
#profileButton{
    align-items: center;
    margin: 30px; 
}
#sectionHeader{
    font-family: 'bradely hand', cursive;
    font-size: 32px;
    font-weight: bold;
    /* margin-left: 200px; */
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 20px;
  }
  
.card-container::-webkit-scrollbar {
    display: none;
}

#commentButton{
    text-decoration: none; 
    color: inherit;
    
}
#commentButton:hover{
    font-weight: bold;
}

#themeButtons{
    margin-top: 40px;
    margin-left: 25px;
}
#sunImg{
    width: 45px;
}
#moonImg{
    width: 30px; 
    margin-left: 5px; 
    transform: scaleX(-1); 
}
.img-normal {
    opacity: 1;
} 
.img-faded {
    opacity: 0.5;
}
#addButton{
    margin-top: 37px;
    margin-right: 30px;
}
#addButtonText{
    padding: 10px;
    font-size: 22px;  
    color:teal;   
}

.dark-mode #sunImg {
    filter: invert(1);
}

.dark-mode #moonImg {
    filter: invert(1);
}

.dark-mode #titleRow{
    background-color: darkcyan;
}
#MovieLogs{
    color: maroon;
}
.dark-mode #MovieLogs{
    color: rgb(127, 255, 255);
}
#Cine{
    color: green;
}
#Mania{
    color: maroon;
}
.dark-mode #Cine{
    color: rgb(176, 120, 176);
}
.dark-mode #Mania{
    color: rgb(127, 255, 255);
}
.dark-mode .movieCard{
    transition: background-color 0.5s ease, color 0.5s ease;
    transition-delay: 0.5s;
    background-color: #333333;
}

.dark-mode .card{
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: lavender;
}
